html {
	background: linear-gradient(lightgrey, dimgrey);
	min-height: 100%;
}

.domino {
	min-height: 100%;
	height: 550px;
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
    font-size: 200px;
}

.control {
	display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons {
	padding-top: 20px;
	padding-bottom: 35px;
}

.buttons button {
	margin-left: 10px;
	margin-right: 10px;
    z-index: 3;
}